html body{
 background-image: url(./casino-8809689.png);
 background-size: cover;
 background-position: center;
}
.noto-serif-old-uyghur-regular {
 font-family: "Noto Serif Old Uyghur", serif;
 font-weight: 400;
 font-style: normal;
}

.highlight {
  
  background-color: rgb(238, 239, 240)!important;
  color: rgb(239, 236, 236) !important;
  text-shadow: 1px 1px 2px black !important;
  transform: scale(1.1);
  box-shadow: inset 0px 0px 25px 15px rgba(0, 68, 255, 0.66) !important;
}



.roulette-board {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-columns: fit-content(100%);
 /*
 opacity: 80%;
 */
}

.title h1{
 font-family: "Noto Serif Old Uyghur", serif;
 font-style: italic;
 letter-spacing: 1.5px;
 font-size: 80px;
 font-weight: bold;
 color:  #FFFF00;
 text-shadow: 5px 1px 0px rgba(52, 138, 236, 0.788);
}

.title h2{
 letter-spacing: 3px;
 font-size: 30px;
 font-family: "Noto Serif Old Uyghur", serif;
 color: rgb(255, 255, 255);
 font-weight: bolder;
 text-shadow: 3px 2px 2px rgb(52, 138, 236);
}

.zero {
 font-size: 30px;
 grid-column: 2;
 grid-row: 1;
 text-align: center;
 background-color: rgba(28, 137, 28, 0.7);
 color: ivory;
 padding: 10px;
 border: 2px solid white;
 font-weight: bolder;
 text-shadow: 3px 1px 3px rgb(8, 8, 8);
 width: 424.5px;
}

.left-columns {
grid-column: 1;
grid-row: 2;
display: grid;
border: 2px solid white;
 
}


.left-column {
 background-color:rgba(28, 137, 28, 0.7);

 text-align: center;
 padding: 10px;
 font-weight: bolder;
 
}

.roulette-board .oddBet{
 grid-template-columns: 1;
 grid-row: 1 / 5;
 writing-mode: vertical-rl;
text-orientation: mixed;
}

.roulette-board .evenBet{
grid-row: 8 / 12 ;
writing-mode: vertical-rl;
text-orientation: mixed;
}

.roulette-board .colorBet{
 grid-row: 5 / 8;
 writing-mode: vertical-rl;
text-orientation: mixed;
}

.columns {
 grid-column: 2 ;

 display: grid;
 grid-template-columns: repeat(4, 1fr);
 
}

.roulette-board{
  transform:
    perspective(750px)
    translate3d(0px, 0px, -250px)
    rotateX(27deg)
    scale(0.9, 0.9);
  transition: 0.4s ease-in-out transform;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
  }
}

.column {
 display: flex;
 flex-direction: column;
 
}
.column1{
 border-bottom:2px solid white ;
}
.column2{
 border-bottom:2px solid white ;
}
.column3{
 
 border-bottom:2px solid white ;
 border-right: 2px solid white;
}
.oddBet, .evenBet{
 font-size: 30px;
color: whitesmoke;
 text-shadow: 1px 1px 5px rgb(11, 10, 10);
}

.number {
  font-size: 20px;
font-weight: bold;
 color: white;
 text-align: center;
 padding: 10px;
 opacity: 100%;
 text-shadow: 1px 1px 1px rgb(255, 251, 251);
             
}

.odd{
 background: rgba(255, 0, 0, 0.7) ;
}

.even{
 background: rgba(0, 0, 0, 0.7);
 text-shadow: 1px 1px 1px rgb(255, 252, 252);
}

.black{
 color: whitesmoke;
 background: rgba(0, 0, 0, 0.7);
 border: 2px solid white;
 padding: 15px 10px 15px 10px;
}

.red{
 color: whitesmoke;
 background: rgba(255, 0, 0, 0.7);
 border: 2px solid white;
 padding: 15px 10px 15px 10px;
}

.display{
 border-radius: 25px;
 border: 2px solid rgba(7, 7, 7, 0);
 background: rgba(33, 128, 245, 0.779);
 color: whitesmoke;
 text-shadow: 5px 5px 5px black;
 box-shadow: 0px 0px 20px 5px rgba(245, 241, 241, 0.71);
}

.winningNum{
 height: 45px;
 letter-spacing: 1.5px;
 font-weight: bolder;
 background-color: rgba(255, 255, 255, 0.541);
 color: rgb(248, 238, 238);
 text-shadow: 3px 1px 5px rgb(0, 11, 20);
 font-size: 30px;
}

.selection{
 cursor: pointer;
}
.selected{
color: black;
background: rgba(255, 255, 0, 0.8);
text-shadow: 1px 1px 3lvh rgb(224, 224, 224);
font-weight: bold;
}

#spinImage{
 z-index: 6;
 display: none;
 height: 794px;
 width: auto;
 position: absolute;
 top: 80px;
 left: 725px;
 animation: spin 5s forwards;
}

@keyframes spin {
 0% {
     transform: rotate(0deg);
     animation-timing-function: ease-in;
 }
 60% {
     transform: rotate(720deg); /* 2 seconds for 2 full spins */
     animation-timing-function: ease-out;
 }
 100% {
     transform: rotate(1080deg); /* Slowing down for the remaining 3 seconds */
 }
}

@keyframes fadeOut {
 from { opacity: 1; }
 to { opacity: 0; }
}

.spin button{
 background: red;
 padding: 5px 15px 5px 15px;
 color: whitesmoke;
 font-weight: bolder;
 border-radius: 25px;
}

.bet-amount{
 height: 50px;
 width: 50px;
 border-radius: 50%;
 color:  rgb(146, 112, 8);
 cursor: pointer;
	background: rgb(255,192,1);
		background: linear-gradient(143deg, rgba(255,192,1,1) 0%, rgba(255,217,0,1) 48%, rgba(204,153,0,1) 100%);
 box-shadow: 0px 0px 5px 2px rgb(20, 20, 20);
}
.bet-amount:active{
 transform: scale(.95);
}

.bet-amount:focus  {
border: 3px solid white;
}


.wallet p{
 letter-spacing: 1.5px;
 font-weight: bolder;
 padding: 5px;

 background: rgba(80, 162, 255, 0.589);
 color: whitesmoke;
 text-shadow: 1px 1px 5px black;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 box-shadow: 0px 0px 5px 1px rgb(255, 251, 251);
}

#result-message{
 font-size: 40px;
 color: white;
 font-weight: bolder;
 text-shadow: 1px 1px 1px rgb(245, 238, 238);
}





/*Media Query*/

@media (min-width: 370px) and (max-width: 480px){
  #spinImage{
    display: none !important;
  }

.roulette-board{

transform: none !important;
border-radius: none !important;
box-shadow: none !important;
transition: none !important;


  }

  .roulette-board .column1, .column2, .column3{
    width: 98px !important;
  }

  .roulette-board .zero{
    width:293px;
  }
}

@media (min-width: 481px) and (max-width:1023px){
  #spinImage{
    display: none !important;
  }

.roulette-board{
  
transform: none !important;
    
border-radius: none !important;
box-shadow: none !important;
transition: none !important;
margin-left: 72px;

  }

  .roulette-board .zero{
    width: 468px;
  }
}

@media (min-width: 1024px) and (max-width:1270px){
HTML body{
  background-size: cover;
  background-position: center;}

   .zero {
    width: 344px;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 58% !important;
}
.roulette-board{
  width: 500px;
  transform: none !important;
box-shadow: none !important;
transition: none !important;
}

#spinImage{
  z-index: 6;
        display: none;
        height: 473px;
        width: auto;
        position: absolute;
        top: 625px;
        left: 555px;
 }
 
}
