html body{
 background-color: rgb(41, 206, 235);
}
.noto-serif-old-uyghur-regular {
 font-family: "Noto Serif Old Uyghur", serif;
 font-weight: 400;
 font-style: normal;
}


.roulette-board {
 display: grid;
 grid-template-columns: repeat(3, 1fr);
 grid-template-columns: fit-content(100%);
 
}

.title h1{
 font-family: "Noto Serif Old Uyghur", serif;
 font-style: italic;
 font-size: 80px;
 font-weight: bold;
 color:  #f9cb14;
 text-shadow: 5px 1px 0px black;
}

.title h2{
 font-size: 30px;
 font-family: "Noto Serif Old Uyghur", serif;
 color: #2f2f2f;
 font-weight: bolder;
 text-shadow: 2px 2px 5px #f7f7f7;
}

.zero {
 font-size: 25px;
 grid-column: 2;
 grid-row: 1;
 text-align: center;
 background-color: rgb(28, 137, 28);
 color: ivory;
 padding: 10px;
 border: 2px solid white;
 font-weight: bolder;
 text-shadow: 3px 1px 3px rgb(8, 8, 8);
 width: 423px;
}

.left-columns {
grid-column: 1;
grid-row: 2;
display: grid;

}


.left-column {
 background-color:rgb(28, 137, 28);

 text-align: center;
 padding: 10px;
 font-weight: bolder;
 border: 2px solid white;
}

.roulette-board .oddBet{
 grid-template-columns: 1;
 grid-row: 1 / 5;
 writing-mode: vertical-rl;
text-orientation: mixed;
}

.roulette-board .evenBet{
grid-row: 8 / 12 ;
writing-mode: vertical-rl;
text-orientation: mixed;
}

.roulette-board .colorBet{
 grid-row: 5 / 8;
 writing-mode: vertical-rl;
text-orientation: mixed;
}

.columns {
 grid-column: 2 ;

 display: grid;
 grid-template-columns: repeat(4, 1fr);
 
}

.column {
 display: flex;
 flex-direction: column;
 
}

.oddBet, .evenBet{
 font-size: 30px;
color: whitesmoke;
 text-shadow: 1px 1px 5px rgb(11, 10, 10);
}

.number {

 color: white;
 text-align: center;
 padding: 10px;
 border: 2px solid white;
}

.odd{
 background: red ;
}

.even{
 background: black;
}

.black{
 color: whitesmoke;
 background: black;
 border: 2px solid white;
 padding: 15px 10px 15px 10px;
}

.red{
 color: whitesmoke;
 background: red;
 border: 2px solid white;
 padding: 15px 10px 15px 10px;
}

.display{
 
 border: 2px solid white;
 background: rgb(28, 137, 28);
 color: whitesmoke;
 text-shadow: 5px 5px 5px black;
 box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.463);
}

.winningNum{
 border: 2px solid rgb(64, 64, 64);
 background-color: white;
 color: black;
 text-shadow: none;
 font-size: 30px;
}

.spin button{
 background: red;
 padding: 5px 15px 5px 15px;
 color: whitesmoke;
 font-weight: bolder;
 border-radius: 25px;
}



/* Responsive Design */
@media (max-width: 768px) {
 .roulette-board {
   grid-template-columns: 1fr;
 }

 .zero {
   grid-column: span 1;
 }

 .left-columns {
   flex-direction: row;
   justify-content: space-around;
 }

 .columns {
   grid-template-columns: 1fr;
 }

 .column {
   flex-direction: row;
   flex-wrap: wrap;
 }

 .number {
   flex: 1 1 calc(33.333% - 20px);
   margin: 10px;
 }
}





